{{paper-input label=label value=formattedValue onChange=onChangeDummy required=required errorMessages=errorMessages}}

{{#if showTimepicker}}
    {{#paper-dialog class="timepicker" onClose=(action "cancelDialog") clickOutsideToClose=true}}
        {{#paper-toolbar}}
            {{#paper-toolbar-tools}}
                <h2>Vyberte čas</h2>
                <span class="flex"></span>
                {{#paper-button iconButton=true onClick=(action "cancelDialog")}}{{paper-icon icon="close"}}{{/paper-button}}
            {{/paper-toolbar-tools}}
        {{/paper-toolbar}}

        {{#paper-dialog-content}}
            <div class="layout-row flex">
                <div class="layout-column">
                    <img class="flex arrow" src="/up-arrow.svg" {{action 'addHours' 1}} />
                    <span class="time-number">{{formattedHours}}</span>
                    <img class="flex arrow" src="/down-arrow.svg" {{action 'addHours' -1}} />
                </div>
                <div class="layout-column">
                    <img class="flex arrow" src="/up-arrow.svg" {{action 'addMinutes' 30}} />
                    <span class="time-number">{{formattedMinutes}}</span>
                    <img class="flex arrow" src="/down-arrow.svg" {{action 'addMinutes' -30}} />
                </div>
            </div>
        {{/paper-dialog-content}}

        {{#paper-dialog-actions class="layout-row" }}
            <span class="flex"></span>
            {{#paper-button onClick=(action "cancelDialog")}}Cancel{{/paper-button}}
            {{#paper-button onClick=(action "okDialog")}}OK{{/paper-button}}
        {{/paper-dialog-actions}}
    {{/paper-dialog}}
{{/if}}
